@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;

    --primary: hsl(243, 100%, 93%);
    --text: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --darker-blue: hsl(229, 57%, 11%);
}

body {
    font-family: 'Raleway', sans-serif;
    background: url("images/bg-mobile.png") no-repeat;
    background-color: var(--darker-blue);
    background-size: 130%;
    position: relative;
}

main {
    width: min(90%, 800px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.bracket {
    padding: 30px 30px;
    margin: 15px 0;
    background-color: var(--dark-blue);
}

.upper {
    border-radius: 5px 80px 5px 5px;
}

.upper .logo img{
    width: 30%;
}

.upper .action {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.action button {
    cursor: pointer;
    border: none;
    background-color: var(--darker-blue);
    padding: 10px 14px;
    margin-right: 15px;
    border-radius: 10px;
}

.lower {
    border-radius: 5px;
    color: var(--text);
    position: relative;
}

.lower .information {
    display: block;
    text-align: center;
}

.lower .information .storage {
    font-weight: 700;
    color: white;
}

.slider {
    width: 100%;
    height: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--darker-blue);
}

.progress {
    width: 75%;
    height: 15px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    position: relative;
}

.thump {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: sticky;
    left: 120%;
}

.range {
    display: flex;
    justify-content: space-between;
    color: white;
}

.storage-left {
    padding: 10px;
    width: 150px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    bottom: -30px;
    left: 30%;
}

.storage-left .total {
    font-size: 2rem;
    font-weight: 700;
    margin-right: 5px;
    color: var(--darker-blue);
}

.storage-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.storage-info span {
    display: block;
}

@media screen and (min-width: 1020px) {
    body {
        background: url("images/bg-desktop.png") no-repeat fixed bottom;
        background-color: var(--darker-blue);
        background-size: 100% 60%;
        display: flex;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 20px;
        transform: translate(-50%, 100%);
    }

    .upper {
        width: 300px;
    }

    .lower {
        width: 600px;
        position: relative;
    }

    .thump {
        left: 120%;
    }

    .storage-left{
        position: absolute;
        bottom: 120px;
        left: 65%;
    }

    .storage-left:after {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 0px;
        bottom: -20px;
        border: 12px solid;
        border-color: rgb(255, 255, 255) rgb(255, 255, 255) transparent transparent;
    }
}